.main-body{
    margin-top: 5rem;
}
.text{
    padding-left: 4.6rem;
}
.cont-form{
    background-image: linear-gradient(to right bottom, white, grey);
}
.form-cnt{
    border-right: 0.5px solid rgb(75, 74, 74);
}